body {
    background-color: lightblue;
}

/* styles.css */
.main-header {
    background-color: black; /* Black background */
    color: white; /* White text for contrast */
    padding: 20px; /* Add some spacing inside the header */
    text-align: center; /* Center the text */
}

.image-block {
    display: flex;
    justify-content: center;
    gap: 20px; /* spacing between images */
    margin: 20px;
}

.image-block img {
    width: 200px; /* adjust size as needed */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

body {
    margin: 10;
    padding: 10;
}

.scroll-down-arrow {
    display: inline-block;
    font-size: 40px;
    text-decoration: none;
    color: #333;
    animation: bounce 2s infinite;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translate(-50%, 0);
    }
    50% {
      transform: translate(-50%, 10px);
    }
  }
  

  html {
    scroll-behavior: smooth;
  }
  